build/*
node_modules/
coverage/
.serverless/
.vscode/
.website-pf-venv/
serverless/htmlcov/
.pytest_cache/
/webapp/*/build/
/webapp/*/public/posts/
/webapp/*/.env
/webapp/*/.env.development
/scripts/posts/

serverless_wsgi.py
.serverless-wsgi
wsgi_handler.py
coverage.xml
.coverage
*.pyc
.DS_Store
