# IDE and editors
.vscode/
.DS_Store

# Build outputs
**/build/**
/webapp/*/build/
.serverless/
**/cdk.out
cdk.context.json

# Node.js
node_modules/
.env

# Python
.venv
.website-pf-venv/
*.pyc
__pycache__/
.pytest_cache/
.coverage
coverage.xml

# Test coverage reports
coverage/
serverless/htmlcov/
**/htmlcov/


# Environment variables
.env
.env.development

# Local files
/scripts/posts/
/webapp/*/public/posts/
