/*
  Website-PF CCS

  BASE STYLES
*/

@font-face {
  font-family: 'DaysOne';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/DaysOne-Regular.ttf');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrap {
  min-height: 100vh;
  position: relative;
}

.app {
  display: flex;
  flex-direction: column;
  color: black;

}

.header {
  color: black;
}

.content {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 10px;
  background-color: #FFFFFF;
  text-align: center;
}

code {
  font-family: "Courier New", monospace;
}

.main-link-style {
  text-decoration: none;
  color: #ddffaa;
  font-family: "DaysOne";
}

.main-link-style:Hover {
  text-decoration: none;
  color: #ddffaa;
}

.main-link-style-dark {
  text-decoration: none;
  color: #343a40;
  font-family: "DaysOne";
}

.secondary-link-style, .secondary-link-style:active {
  text-decoration: none;
  color: #ddffaa;
  font-family: "Arial";
}

.secondary-link-style:hover {
  text-decoration: none;
  color: #ddffaa;
}

.secondary-link-style-background {
  background-color: #343a40;;
}

.main-navbar {
  background-color: #e8e8e8;
}

.secondary-navbar {
  background-color: #ddffaa;
  z-index: 1000;
  color: #000000;
  text-align: center;
}

/*
  FOOTER STYLES
*/
.app-footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  line-height: 25px;
  z-index: 2000;
  font-size: 0.9em;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  background-color: #343a40;
  color: white;
}

/*
 POST STYLES
*/
.post {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.post .post-title {
  font-family: "DaysOne", "Arial", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}

.post .post-body {
  font-family: "Arial", "Times New Roman", "Times", serif;
  font-size: 1rem;
  text-align: left;
}

.post .post-body h1, h2, h3, h4, h5, h6 {
  font-family: "Arial", "Times New Roman", "Times", serif;
}

/*
POPUP MODAL STYLES
*/
.modal-header {
  background-color: #343a40;
  color: #ddffaa;
}


/*
COOKIE POLICY STYLES
*/
#cookiePolicyNotification {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 2500;
  background-color: #ddffaa;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.cookieLink {
  text-decoration: underline;
  color: #343a40;
}

.cookieBtn {
  background-color: #343a40;
  color: #FFFFFF;
}
