body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.defaultLinkStyle, .defaultLinkStyle:hover  {
  text-decoration: none;
  color: #ddffaa;
}

.defaultPageStyle {
  background-color: #343a40;
  color: #ddffaa;
}

.wrap {
  min-height: 100vh;
  position: relative;
}

.app {
  display: flex;
  flex-direction: column;
  color: black;

}

.header {
  color: black;
}

.content {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  background-color: #FFFFFF;
  text-align: center;
}

.post {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.app-footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  line-height: 25px;
  z-index: 2000;
  font-size: 0.9em;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  background-color: #343a40;
  color: white;
}

#cookiePolicyNotification {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 2500;
  background-color: #ddffaa;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.cookieLink {
  text-decoration: underline;
  color: #343a40;
}

.cookieBtn {
  background-color: #343a40;
  color: #FFFFFF;
}
